<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h5> đây là thông tin </h5>
    {%for person in all_service%}
    <div>
        <b>Name: </b> {{person.name}} <br>
        {%if person.gender == "male"%}
        <img src="/static/images/INFO0007-Converted.jpg" width="150px" height="150px"><br>
        {%elif person.gender == "female"%}
        <img src="/static/images/INFO0002-Converted.jpg" width="150px" height="150px"><br>
        {%endif%}
        
        <b>Age: </b> {{person.age}} <br>
        <b>Address: </b> {{person.address}} <br>
        <b>Gender: </b> {{person.gender}} <br>
        <b>Height: </b> {{person.height}} <br>
        <b>Available: </b> {{person.available}} <br>
        <a href="/all-service/detail/{{person._id}}">Show Detail</a>
        <a href="/all-service/delete/{{person._id}}">Delete</a>
    </div>
    <hr>
    {%endfor%}
</body>
</html>