<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        
        

        <label>Name</label>
        <input name="input_name" type="text" value="{{a.name}}">
        <br>
        <label>Address</label>
        <input name="input_address" type="text" value="{{a.address}}">
        <br>
        <label>Gender</label>
        <input name="input_gender"type="text" value="{{a.gender}}">
        <br>
        <label >Age</label>
        <input  name="input_age" type="text" value="{{a.age}}">
        <br>
        <label>Height</label>
        <input name="input_height" type="text" value="{{a.height}}">
        <br>
        <label>Status</label>
        <input name="input_available" type="text" value="{{a.available}}">
        <br>
        <button>Confirm</button>
    </form>
</body>
</html>